*{
    margin: 20px auto;
    padding: 0;
}

body {
    text-align: center;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);    color: white;
}
table {
    border:2px solid ;
}

#startGame {
    padding:10px 5px;
    width: 20%;
    border: 2px solid royalblue;
    border-radius: 25px;
}

#startGame:hover {
    opacity: 0.5;
    color: royalblue;
    background-color: white;
}